<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Create New Product</title>
</head>
<body>
	<div align="center">
		<h1>Customer Deatails Entry</h1>
		<br />
		<form action="#" th:action="@{/save}" th:object="${product}"
			method="post">

			<table border="0" cellpadding="10">
				<tr>
					<td>Customer Name:</td>
					<td><input type="text" th:field="*{customer}" /></td>
				</tr>
				<tr>
					<td>AMC Date:</td>
					<td><input type="text" th:field="*{AMC_date}" /></td>
				</tr>
				<tr>
					<td>Maintainance Date:</td>
					<td><input type="text" th:field="*{M_date}" /></td>
				</tr>
				<tr>
					<td>product_name:</td>
					<td><input type="text" th:field="*{product_name}" /></td>
				</tr>								
				<tr>
					<td colspan="2"><button type="submit">Save</button> </td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>